.quote {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    left: 0;
    bottom: 5rem;
    z-index: 9; */
}

.quote .comma {
    position: absolute;
    top: -5rem;
}

.quote .container {
    width: 70vw;
}

.quote h1 {
    font-family: 'Satisfy', cursive;
}

.quote .main {
    font-size: 4rem;
}

.quote .name {
    position: absolute;
    right: 15rem;
    bottom: 8rem;
}
