.landing {
    width: 100vw;
}

.section-vision {
    padding: 10vh 0;
    height: 100vh;
}

.section-vision span {
    line-height: 2rem;
}

.shadow-heading {
    position: relative;
}

.shadow-heading h1 {
    margin-top: 5vh;
}

.shadow-heading .shadow-text {
    z-index: -1;
    text-shadow: 0px -10px 0px rgba(231, 177, 0, 0.336);
    width: 100vw;
    position: absolute;
    bottom: -9px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0);
}

.section-vision .main {
    height: 60vh;
}

.section-vision .photo {
    position: relative;
}

.section-vision .photo * {
    user-select: none;
}
/* 
.section-vision .photo :last-child {
    position: absolute;
    bottom: -1rem;
    right: 0rem;
    transform: scale(1.1);
    z-index: -999;
    filter: blur(10px) grayscale();
} */

.section-showcase {
    padding: 10vh 0;
}

@media only screen and (max-width: 600px) {
    /* .section-vision .photo :last-child {
      display: none;
    } */
    .section-vision .photo-col {
        justify-content: center !important;
    }
    .section-vision {
        padding: 10vh 0;
        height: 200vh;
    }
    .section-vision span{
        padding: 0 1rem;
    }

    .shadow-heading .shadow-text {
        z-index: -1;
        text-shadow: 0px -15px 0px rgba(231, 177, 0, 0.336);
        width: 100vw;
        position: absolute;
        bottom: -9px;
        font-size: 2.6rem;
        color: rgba(0, 0, 0, 0);
    }

    .section-showcase .col {
        margin: 2rem 0;
    }
    
}

@media only screen and (min-width: 600px) {
    .section-showcase .i1{
        padding-bottom: 3rem;
    }
    .section-showcase .i2 {
        padding-top: 10rem;
        padding-bottom: 3rem;
    }
    .section-showcase .i3{
        padding-bottom: 3rem;
    }
    .section-showcase .i4 {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
}
