.landing {
    width: 100vw;
}

.section-vision {
    padding: 10vh 0;
    background-color: white;
}

.section-vision span {
    line-height: 2rem;
    font-family: 'Nanum Myeongjo', serif;
}

.shadow-heading {
    position: relative;
}

.shadow-heading .real-text {
    margin-top: 5vh;
    font-weight: bold;
    font-size: 4.5rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
}

.shadow-heading .shadow-text {
    z-index: -1;
    text-shadow: 0px -10px 0px rgba(209, 209, 209, 0.336);
    width: 100vw;
    position: absolute;
    bottom: -9px;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    user-select: none;
}

.shadow-heading .john {
    font-family: 'Nanum Myeongjo', serif;
}

.section-vision .photo {
    position: relative;
}

.section-vision .photo * {
    user-select: none;
}

.section-showcase {
    padding: 10vh 0;
}

.motion-toggler span {
    color: rgb(197, 197, 197)
}

/* mobile */
@media only screen and (max-width: 600px) {

    hr {
        top: 0.5rem;
    }

    .section-vision .photo-col {
        justify-content: center !important;
    }
    .section-vision {
        padding: 10vh 0;
        /* height: 200vh; */
    }
    .section-vision span{
        padding: 0 1rem;
    }

    .shadow-heading .real-text {
        font-size: 2.5rem;
    }

    .shadow-heading .shadow-text {
        z-index: -1;
        text-shadow: 0px -15px 0px rgba(231, 177, 0, 0.336);
        width: 100vw;
        position: absolute;
        bottom: -9px;
        font-size: 2.6rem;
        color: rgba(0, 0, 0, 0);
    }

    .section-showcase .col {
        margin: 2rem 0;
    }

    .motion-toggler {
        display: none !important;
    }

    .motion-toggler * {
        display: none !important;
    }
    
}

@media only screen and (min-width: 600px) {
    .section-showcase .i1{
        padding-bottom: 3rem;
    }
    .section-showcase .i2 {
        padding-top: 10rem;
        padding-bottom: 3rem;
    }
    .section-showcase .i3{
        padding-bottom: 3rem;
    }
    .section-showcase .i4 {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    
}