.hero {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .background-container {
  width: 100vw;
  position: absolute;
  z-index: -1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .background-container .background {
  margin-top: 0rem;
  height: 70vh;
  width: 85vw;
  background-image: url(../../img/hero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .quote {
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobile .mQuote {
  font-size: 4rem;
  position: relative;
  padding: 0 2rem;
}

.mobile .mQuote .start {
  position: absolute;
  top: 0;
  left: 1.5rem;
}

.mobile .mQuote .end {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}

.mobile .mName {
  margin-top: 1rem;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .hero{
    height: 100vh;
  }
  .hero .background-container .background {
    margin-top: 0vh;
    height: 100vh;
    width: 100vw;
  }
}