.header {
    width: 100vw;
    height: 15vh;
}

.header h1 {
    margin: 0;
}

.header .realNav .row {
    height: 3.5rem;
}

.header .social {
    width: 3.5rem;
}

.header .social {
    width: 10vw;
    cursor: pointer;
    font-size: 1.2rem;
}