.navBar {
    width: 100vw;
    height: 20vh;
}

.navBar h1 {
    margin: 0;
}

.spacer {
    width: 100vw;
    height: 3.5rem;
}

.navBar .realNav {
    z-index: 999;
    width: 100vw;
    font-weight: bold;
    height: 3.5rem;
    top: 7rem;
    background-color: rgb(255, 255, 255);
}

.navBar .realNav .row {
    height: 3.5rem;
}

.navBar .social {
    width: 3.5rem;
}

.navBar .social {
    width: 10vw;
    cursor: pointer;
    font-size: 1.2rem;
}